<!DOCTYPE html>
<link href="retro.css" rel="stylesheet"></link>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Calvin Li - Devlog</title>
</head>
<body>
<h1> C.L </h1>
<p style="text-align: center;">Personal Website</p>

<div>
    <h2> About Me</h2>
    {{about}}
    <div class="wrapper">
        <div>
            <h4> working with ... </h4>
            {{working_with}}
        </div>
        <div>
            <h4> passionate about ... </h4>
            {{passionate}}
        </div>
        <div>
            <h4> thinking about ... </h4>
            {{thinking_about}}
        </div>
    </div>
</div>

<div>
    <h2> Blog Posts </h2>
    {{blogs}}
</div>
<div>
    <h2> Seeds </h2>
    {{seeds}}
</div>
<div>
    <h2><a href="awesome.html"> Awesome </a></h2>
    <p> Personal curation of specific topic, inspired by <a href="https://awesome.re/">Awesome List</a> </p>
</div>
</body>
