<!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /><html lang="en">
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
<link href="retro.css" rel="stylesheet"></link>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Calvin Li - Devlog</title>
</head>
<body>
<h1 class="title"> C.L </h1>
<p style="text-align: center;">Personal Website</p>

<div>
    <h1> About Me</h1>
    {{about}}
</div>

<div>
    <h1> Blog Posts </h1>
    {{blogs}}
</div>
<div>
    <h1><a href="awesome.html"> Awesome </a></h1>
    <p> Personal curation of specific topic, inspired by <a href="https://awesome.re/">Awesome List</a> </p>
</div>
</body>
