---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

pre, code {
    font-family: $base-font-family;
    font-size: 18.75px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.highlighter-rouge .highlight {
    background: #f7f7f7;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul li::marker {
  color: #04a0de;
}
